<<<<<<< HEAD
<footer class="footer bg-dark py-3 mt-auto">
	<div class="container">
		<span class="text-muted">&copy; YelpCamp 2022</span>
	</div>
</footer>
=======
<footer class="footer bg-dark py-3 mt-auto">
	<div class="container">
		<span class="text-muted">&copy; YelpCamp 2022</span>
	</div>
</footer>
>>>>>>> 07e9a713fe9425e9d54b09bee418c50b3e3ab6b5
